.poker-card {
  font-size: 178px;
  color: gold;
  border: 15px double white;
  border-radius: 20px;
  text-align: center;
  height: 500px;
  max-width: 350px;
  line-height: 500px;
  margin: 0 auto;
  background: black;
}
