<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let card of cardList" (click)="itemTapped($event, card)">
      {{card}}
      <!--<div class="item-note" item-end>-->
        <!--{{item}}-->
      <!--</div>-->
    </button>
  </ion-list>
  <!--<div *ngIf="selectedItem" padding>-->
    <!--You navigated here from <b>{{selectedItem.title}}</b>-->
  <!--</div>-->
</ion-content>
