.cards-container {
  padding: 10px;
  .mini-card {
    width: 85px;
    font-size: 25px;
    border: 2px solid red;
    border-radius: 5px;
    display: inline;
    margin: 5px;
    padding: 20px 10px;
  }
}
